.date-select{
    border: 1px solid gray;
    display: flex;
    margin-left: auto;
    justify-content:right;
    margin-right: 1vw;
    margin-top: 2vh;
    height: 3.5vh;
    width: auto;
    padding: 6px;
    margin-bottom: 2vh;
  }
  
  .date-select:focus {
    outline:none;
  }
  
  .date-option {
    text-align: center;
  }


