.match-outer-container {
    border-bottom: 1px solid lightgray;
    margin-top: 2vh;
  }
  
  .match-inner-container {
    margin-left: 1vw;
    margin-bottom: 2vh;
  }
  
  .match-start {
    color: gray;
    margin-bottom: 0.5vh;
    font-weight: 300;
  }
  
  .match-team-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
    font-size: 22px;
  }
  
  .match-team {
    margin-left: 0.5vw;
  }
  
  .winner {
    border-left: 5px #28b662 solid;
    border-radius: 2px;
  }
  
  .loser {
    border-left: 5px #e43726 solid;
    border-radius: 2px;
  }
  
  .points {
    display: flex;
    margin-left: auto;
    justify-content: right;
    margin-right: 1vw;
  }
  
  .points-winner {
    font-weight: 700;
  }
  